* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

* {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none !important;
   -ms-user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    font: 16px "Helvetica";
    backgroud-color: #fcfcfc;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container > * {
    margin: 0 0 20px;
}

#main {
    width: 700px;
    height: 600px;
}

#fig {
    width: 300px;
    height: 600px;
    border-right: none;
}

canvas {
    cursor: crosshair;
    border: 1px solid #ccc;
}
